.quote__text {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px,
    rgba(0, 0, 0, 0.5) 1px 1px 1px;
  position: absolute;
  width: 250px;
  height: 175px;
  top: 200px;
  left: 250px;
}

.head__img {
  display: flex;
  justify-content: flex-end;
  width: 620px;
  height: 384px;
}
