@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-bgc: #acb28a;
  --main-fc: #faffe0;
}

html {
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-direction: column;
}

body {
  margin: 0;
  background: var(--main-bgc);
  color: var(--main-fc);
}

.main {
  position: relative;
}
